.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4vh;
    width: 90vw;
    max-width: 600px;
    background: #fff;
    padding-bottom: 3vh;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9vw;
    width: 100%;
    margin-top: 3vh;
}

.text{
    color: #002558;
    font-size: 4vw;
    font-weight: 650;
}

.underline{
    width: 5vw;
    height: 0.6vw;
    background: #002558;
    border-radius: 0.9vw;
}

.inputs{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 80vw;
    height: 6vh;
    max-width: 480px;
    background: #eaeaea;
    border-radius: 1.2vw;
}

.picture{
    margin:0 3vw;
    font-size: 4vw; /* Am mărit dimensiunile iconițelor */
}

.input input{
    height: 4.5vh;
    width: 60vw;
    max-width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 1.4vw;
}

.submit-container{
    display: flex;
    gap: 3vw;
    margin: 3vh auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 6vh;
    color: #fff;
    background: #002558;
    border-radius: 5vw;
    font-size: 2vw;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1vh;
}

.gray {
    background: #EAEAEA;
    color: #676767;
}

.signup-link {
    text-align: center;
    margin-bottom: 2vh;
}

.error {
    color: #d8000c; /* culoarea textului */
    text-align: center; /* alinierea textului la centru */
    margin-top: -10px;
    margin-bottom: -10px; /* reducerea spațiului de sus *//* adăugarea unui spațiu mic dedesubt */
}

.login-error {
    color: #d8000c; /* culoarea textului */
    text-align: center; /* alinierea textului la centru */
    margin-top: 5px;
    margin-bottom: 10px; /* reducerea spațiului de sus *//* adăugarea unui spațiu mic dedesubt */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    width: 300px;
    text-align: center;
}

.popup p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.popup button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup button:hover {
    background-color: #0056b3;
}


