/* Stiluri pentru pagina de conținut a cursului */
.content-course {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.content-course th{
    padding: 15px;
}

.content-course td{
    background: linear-gradient(to bottom, #b4c7e2, #f7f3f3); /* Gradient negru */
    margin-bottom: 10px;
    margin-left: 5px;
}

.content-course h1 {
    text-align: left;
    margin-bottom: 20px;
}

.material-group {
    margin-bottom: 30px;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff; /* Albastru deschis */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.material-date {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #0056b3;
}

.material-item {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 8px;
    background: linear-gradient(to bottom, #b4c7e2, #f7f3f3); /* Gradient negru */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.material-title {
    font-size: 1.2em;
    color: #333;
    margin: 5px 0;
}

.material-description {
    margin: 5px 0;
    color: #666;
}

.material-download {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #0056b3;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.material-download:hover {
    background-color: #0056b3;
}

.material-divider {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}

.material-download::before {
    content: '\1F4C4'; /* Unicode pentru iconița de descărcare */
    margin-right: 5px;
}

.new-material-form {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-material-form form {
    display: flex;
    flex-direction: column;
}

.new-material-form form .form-group {
    margin-bottom: 15px;
}

.new-material-form label {
    margin-bottom: 2px;
    margin-right: 5px;
}

.new-material-form input,
.new-material-form textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.new-material-form form .btn {
    align-self: flex-start;
    margin-right: 10px;
    color: white;
    background-color: #2067b2;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.homeworks-list {
    margin-top: 20px;
}

.homework-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.homework-item h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.homework-item p {
    margin: 5px 0;
}

.upload-form {
    margin-top: 10px;
}

.upload-form .form-group {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

/* Stiluri pentru pagina de conținut a cursului */
.content-main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: left; /* Alinează conținutul la stânga */
}

.content-main .course-link {
    display: block;
    margin-bottom: 35px; /* Mărește spațiul între link-uri */
    color: #eff4f8;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 2.5em; /* Mărimea fontului mai mare */
}

.content-main .course-link:hover {
    color: #9eb3c9;
}

.content-main .course-link::before {
    content: '➜';
    margin-right: 10px; /* Mărește spațiul dintre săgeată și text */
}

.title{
    font-size: 2.5rem;
    font-weight: bold; /* Font bold pentru a face textul să iasă în evidență */
    color: white;
    margin-bottom: 40px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adaugă o umbrire subtilă pentru a evidenția textul */
  }
  
  .new-material-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color:white;
    font-weight: bold;
    background-color: #2067b2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .new-material-button:hover {
    background-color: #3b618a;
  }

  .add-exam-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: black; /* culoarea textului */
    background: linear-gradient(135deg, #ffffff, #57868f); /* gradient alb-albastru */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 12px;
    margin-top: 10px;
}

.add-exam-button:hover {
    background: linear-gradient(135deg, #eaf2f5, #70d8f5); /* gradient on hover */
}
