.admin-page {
  padding: 20px;
  text-align: center;
}

.class-buttons-container {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
  text-align: center;
}

.class-name {
  background-color: #5585b6;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  margin: 0 10px; 
  transition: background-color 0.3s;
}

.class-name.active {
  background-color: #9fbde4;
  color: black;
  font-weight: bold;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.red-button {
  background-color: #275b8f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}

.red-button:hover {
  background-color: #1a3f6e;
}

.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
}

.close-button:hover {
  color: red;
}

.popup-message {
  margin-bottom: 10px;
  font-weight: bold;
}

.add-item-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-item-form-container form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-item-form-container input,
.add-item-form-container select {
  margin: 12px;
  width: 100%;
  max-width: 300px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.error-message {
  position: absolute;
  color: rgb(228, 9, 9);
  font-size: 15px;
  font-weight: bold;
  margin-top: -10px;
}

.add-item-button {
  margin-top: 10px;
  background-color: #a5c2f4;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 500px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-item-button:hover {
  background-color: #3074be;
}

.title {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.add-subject-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}

.add-subject-button:hover {
  background-color: #45a049;
}

.no-join-requests {
  color: white;
  margin-left: -500px;
}

.decision-join {
  background-color: #275b8f;
  color: white;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}

.decision-join:hover {
  background-color: #4d84cc;
}

.proof-file{
  text-decoration: none;
}

.no-students {
  color: white;
  margin-left: -400px;
  margin-top: 70px;
}
