.content-teacher {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-left: 100px;
}

/* Stiluri pentru carduri */
.card-list-teacher {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

.card-bordered-teacher {
    background: linear-gradient(to bottom, #787676, #1a1919); /* Gradient negru */
    color: #fff; /* Text alb */
    border: none;
    width: 340px;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0.5, 1, 0.9);
    transition: transform 0.2s;
}

.card-bordered-teacher:hover {
    transform: translateY(-10px);
}

.card-teacher {
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-hours-teacher {
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title-teacher {
    padding: 20px;
    margin-left: -10px;
    text-align: center;
    margin-bottom: 20px;
}

.card-text-teacher {
    margin-bottom: 10px;
}

.card-inner-teacher button {
    margin-top: 10px;
}
